version: "3.9"

services:
  knowledgebase:
    image: ayushisachan/knowledgebase_car_price_prediction
    platform: linux/amd64
    volumes:
      - ai_system:/tmp

  activationbase:
    image: ayushisachan/activationbase_car_price_prediction
    platform: linux/amd64
    volumes:
      - ai_system:/tmp

  codebase:
    image: ayushisachan/codebase_car_price_prediction
    platform: linux/amd64
    volumes:
      - ai_system:/tmp

  runner:
    build: ./runner
    platform: linux/amd64
    depends_on:
      - knowledgebase
      - activationbase
      - codebase
    volumes:
      - ai_system:/tmp
    command: python /tmp/codebase/apply_ann.py

volumes:
  ai_system:
    external: false
